/* Container Columna */ 

.container-columna-derecha{
    /* background-color: #DCEAEF; */
    padding-bottom: 2em;
    padding-left: 2em;
    padding-right: 2em;
    border-radius: 1em;
    margin-top: 2em;
    margin-bottom: 4em;
    animation: fadeIn 1s ease-out;
}

/* Contador */

.todo-counter{
    color: #CC7CD6;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2.5em;
    text-align: center;
}

/* Lista */

.todo-list {
    list-style-type: none; /* Elimina los puntos de viñeta */
    padding: 0;
}

/* Items*/

.todo-item {
    background-color: #FFC849;
    border: 1px solid #191911;
    border-radius: 2em;
    margin-bottom: 10px;
    padding-left: 1em;
    display: flex;
    align-items: center;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    transition: background-color 0.3s, transform 0.3s; /* Agrega una transición suave */

    &:hover {
        transform: scale(1.01); /* Ajusta según sea necesario */
    }
}


.icon-container {
    display: flex;
    align-items: center;
    margin-right: 10px; /* Separación entre ícono y texto */
    cursor: pointer;
}

.status-icon {
    font-size: 20px;
    margin-right: 5px;
}

.completed {
    text-decoration: line-through; /* Tachado*/
}

.delete-icon {
    font-size: 20px;
    margin-left: auto;
    margin-right: 20px; /* Separación entre cruz y extremo derecho del container*/
    cursor: pointer; /* Cursor se vuelve puntero al posarse sobre el elemento */
}

/* Barra de búsqueda */

.search-container {
    position: relative;
    display: flex;
    align-items: center;
    margin-bottom: 2em;
}

.search-container i {
    position: absolute;
    left: 10px;
    color: #191911;
}

.to-do-search {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    width: 100%;
    box-sizing: border-box;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 35px;
    border-radius: 2em;
    border: 1px solid #191911;
}

/* Ocultar tareas */

.hide-container {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer; /* Cursor se vuelve puntero al posarse sobre el elemento */
    transition: transform 0.3s; /* Agrega una transición suave */

    &:hover {
        transform: scale(1.02); /* Ajusta según sea necesario */
    }
}

.hide-container i {
    margin-right: 10px;
}

.hide-container i.fa-eye-slash {
    color: #DCEAEF;
}

.hide-container i.fa-eye {
    color: #DCEAEF;
}

.hide-text {
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    color: #DCEAEF;
}

/* Loading */

.loading-container {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    margin: 2em;
  }
  
  .loading-text {
    /* display: flex; */
    /* position: relative; */
    color:#FFC849;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 2em;
    text-align: center;
    align-items: center;
    justify-items: center;
  }
  
  .loading-icon {
    display: inline-block;
    width: 5em;
    height: 5em;
    border: 1.8em solid #DCEAEF;
    border-top: 1.8em solid #FFC849;
    border-radius: 50%;
    animation: spin 3s ease-in-out infinite;
    margin-top: 2em;
  }
  
  /* Define la animación de giro (spin) */
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }
  
  /* Aplica animación a cada carácter */
  .loading-text span {
    display: inline-block;
    opacity: 1;
    animation: moveUpDown 4s ease-in-out infinite;
  }
  
  /* Ajusta la animación de desplazamiento hacia arriba y abajo */
  @keyframes moveUpDown {
    0%, 100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-5px);
    }
  }
  
  /* Aplica un desfase a cada carácter */
  .loading-text span:nth-child(1) {
    animation-delay: -0.5s;
  }
  .loading-text span:nth-child(2) {
    animation-delay: -0.9s;
  }
  .loading-text span:nth-child(3) {
    animation-delay: -1.3s;
  }
  .loading-text span:nth-child(4) {
    animation-delay: -1.7s;
  }
  .loading-text span:nth-child(5) {
    animation-delay: -2.1s;
  }
  .loading-text span:nth-child(6) {
    animation-delay: -2.5s;
  }
  .loading-text span:nth-child(7) {
    animation-delay: -2.9s;
  }
  .loading-text span:nth-child(8) {
    animation-delay: -3.3s;
  }
  .loading-text span:nth-child(9) {
    animation-delay: -3.7s;
  }
  .loading-text span:nth-child(10) {
    animation-delay: -4.1s;
  }
  .loading-text span:nth-child(11) {
    animation-delay: -4.5s;
  }


/* To Dos Empty */

.TodosEmpty-titulo {
  color: #FFC849;
  font-family: 'Bebas Neue', sans-serif;
  font-size: 2em;
  text-align: center;
  animation: pulse 0.5s infinite alternate ease-in-out; /* Duración de 2 segundos, bucle infinito, alternando entre escalado y desescaldo, easing ease-in-out */
}

@keyframes pulse {
  0% {
    transform: scale(1); /* Escala original al comienzo */
  }
  100% {
    transform: scale(1.1); /* Escala 10% más grande al final */
  }
}

.TodosEmpty-parrafo{
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
    color: #DCEAEF;
    display: block;
    text-align: center;
}