.container-main-title {
  background-color: #FFC849;
  margin: 0;
  padding: 0.5em;
  width: 100%;
  box-sizing: border-box;
  position: relative;
  top: 0;
  color: #191911;
  font-family: 'Bebas Neue', sans-serif;
  font-weight: 900;
  font-size: 3em; /* Ajusta el tamaño según tus preferencias */
  text-align: center;
}

@media only screen and (max-width: 600px) {
  /* Estilos específicos para pantallas más pequeñas */
  .container-main-title {
    padding: 10px;
    font-size: 1em; /* Ajusta el tamaño para pantallas pequeñas */
  }
}